<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
	 	 <img src="/img/web_logo.jpg" alt="logo" height="40" width="50">
	 </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
    </button>
	  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/sports">Sports</a>
        </li>
        
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Genres</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Ball sports</a></li>
            <li><a class="dropdown-item" href="#">Racket sports</a></li>
            <li><a class="dropdown-item" href="#">Indoor sports</a></li>
			<li><a class="dropdown-item" href="#">Outdoor sports</a></li>
			<li><a class="dropdown-item" href="#">Cycling sports</a></li>
			<li><a class="dropdown-item" href="#">Motor sports</a></li>
			<li><a class="dropdown-item" href="#">Adventure sports</a></li>
			<li><a class="dropdown-item" href="#">Swimming</a></li>
			<li><a class="dropdown-item" href="#">Athletics</a></li>
			<li><a class="dropdown-item" href="#">Mind sports</a></li>
			<li><a class="dropdown-item" href="#">Shooting sports</a></li>
          </ul>
        </li>
		
		<li class="nav-item">
          <a class="nav-link" href="/sports/new">Add Sport</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/">Login</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>