<html>
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Red+Rose&family=Roboto&display=swap" rel="stylesheet"> 
	<link href="/css/navbar.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">
	<head>
		<title>Yelp Sports</title>
	</head>
	<body>
		<%- include("navbar") %>	
	