	<%- include("partial/header") %>
		<h1>
			Satisfied Customers
		</h1>
		<ul>
			<% customers.forEach((customer) => { %>
				<l1><%= customer %> </l1> <br>
			<% }) %>
		</ul>
	<%- include("partial/footer") %>
