<%- include("partials/header") %>
	<h1>Add new Sport</h1>
	<div class="container">
		<form action="/sports" method="POST">
  			<div class="mb-3">
    			<label for="title" class="form-label">Title</label>
    			<input type="text" class="form-control" name="title" autofocus placeholder="Eg:football">
  			</div>
  			<div class="mb-3">
    			<label for="description" class="form-label">Description</label>
    			<input type="text" class="form-control" name="description">
  			</div>
			<div class="mb-3">
    			<label for="player" class="form-label">Player</label>
    			<input type="text" class="form-control" name="player" placeholder="Eg: Michael Phelps, Virat Kohli, Roger Federer">
  			</div>
			<div class="mb-3">
    			<label for="genre" class="form-label">Genre</label>
    			<select class="form-control" id="genre" name="genre">
					<option disabled selected>--Choose Below--</option>
					<option>Ball sports</option>
					<option>Racket sports</option>
					<option>Motor sports</option>
					<option>Adventure sports</option>
					<option>Water sports</option>
					<option>Athletics</option>
					<option>Mind sports</option>
					<option>Shooting sports</option>
				</select>
  			</div>
			<div class="form-group form-check">
    			<input type="checkbox" class="form-check-input" name="groupSport">
				<label for="groupSport">Is it a group sport?</label>
  			</div>
			<div class="form-group form-check">
    			<input type="checkbox" class="form-check-input" name="inOlympics">
				<label for="inOlympics">Is it played in Olympics</label>
  			</div>
  			<div class="mb-3">
    			<label for="image" class="form-label">Image</label>
    			<input type="text" class="form-control" placeholder="https://www.image.com/my_image.jpg" name="image">
  			</div>
  			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
<%- include("partials/footer") %>