body {
  font-size: 16px;
}

p {
  font-family: verdana, cursive, sans-serif;
  font-size: 1em;
  line-height: 1.7;
  text-decoration: underline;
  text-align: justify;
}

.bigger {
  font-size: 2em;
  font-weight: bold;
}
